ul {
  list-style-type: none;
}

ul.vertical li {
  padding: 0.25rem;
  text-align: center;
  cursor: pointer;
}

ul.horizontal {
  position: relative;
  text-align: center !important;
}

ul.horizontal li{
  display: inline;
}